## Recommendation project POC

Let's load test data with users, items and ratings

In [23]:
import pandas as pd


df_users = pd.read_csv('../Data/Users.csv')
df_books = pd.read_csv('../Data/Books.csv')
df_ratings = pd.read_csv('../Data/Ratings.csv')

C:\Users\oleksandr.korotkyi\AppData\Local\Temp\ipykernel_19976\1717845702.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv('../Data/Books.csv')

In [24]:
df_users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [25]:
df_books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [26]:
df_ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

## Model

We've implemented User2User Collaborative Filtering recommendation model as our POC. This approach uses slightly modified kNN algorithm. Idea is the following. Every user could be represented as vector - in our simple case - vector of ratings. First element is user's rating of the first item, second one is rating of the second etc. 

<table>
    <tr>
        <td><b>User\Item</b></td>
        <td><i>i<sub>1</sub></i></td>
        <td><i>i<sub>2</sub></i></td>
        <td>...</td>
        <td><i>i<sub>n</sub></i></td>
    </tr>
        <tr>
        <td><i>u<sub>1</sub></i></td>
        <td><i>r<sub>11</sub></i></td>
        <td><i>r<sub>12</sub></i></td>
        <td>...</td>
        <td><i>r<sub>1n</sub></i></td>
    </tr>
    <tr>
        <td><i>u<sub>2</sub></i></td>
        <td><i>r<sub>21</sub></i></td>
        <td><i>r<sub>22</sub></i></td>
        <td>...</td>
        <td><i>r<sub>2n</sub></i></td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td><i>u<sub>m</sub></i></td>
        <td><i>r<sub>m1</sub></i></td>
        <td><i>r<sub>m2</sub></i></td>
        <td>...</td>
        <td><i>r<sub>mn</sub></i></td>
    </tr>
    
</table>

Dimension of a user vector = number of items in dataset. 

To get items, recommended to specific user, let's find k users similar to given, calculate sum (or average) of their vectors and treat their coordinates as item ratings. Then select items with highest ratings.

How we could say that 2 users are similar or not? Let's use cosine similarity: 

$$s(u, v) = \frac{\sum_{i \in I_u \cap I_v} r_{ui}r_{vi}}{\sqrt{\sum_{i \in I_u} r_{ui} ^2}\sqrt{\sum_{i \in I_v} r_{vi}^2}} $$


$I_u$ - set of items, rated by user $u$

$r_{ui}$ - rating given by user $u$ to item $i$.

Positive similarity between 2 users means that they mostly give the same kind of ratings (positive or negative) to same items. Negative similarity means that users give controversal ratings to same items - one loves item and another hates it.

Because number of users is quite high even in our relatively small dataset (~ 280K) finding neighbors by brute forcing will be quite slow. And if remember that we have ~270K items that would be real pain to calculate.

Now the trick. We expect that similar users will have positive cosine similarity value. And as we see from formula above similarity between 2 users is zero if they didn't have common items in their ratings. Therefore, when searching for neighbors we could limit scope only to <b>users that have rated at least one item rated by given user</b>. Because ratings matrix is very sparse - in our dataset user rated around 4 items and item averagely rated by 4 users this will greatly speed-up algorithm. 

After set of k neighbors $N(u)$ is found, calculate average vector of item ratings

$$
\bar{r} = \frac{1}{|N(u)|}\sum_{v \in N(u)} \bar{u}_{i}
$$

where $\bar{u}_{i}$ - vector of <i>i</i>-th neigbor.

From this vector $\bar{r}$ we take items that have positive coordinates, not rated by our user and that would be our recommendations

## Practical part

Here we split data into train and test, dataframes transformed into more efficient indexed structures, items and users replaced by their indexes. Also rating values shifted from [0, 10] to [-5, 5] range (this is simply because 0/10 means absolute hate and 10/10 - absolute love). Plus corrected minor errors like item in ratings is not present in list of items

In [27]:
from sklearn.model_selection import train_test_split
from u2ucf import lmap, U2UCF, split_ratings, get_preferences, mapk, get_random_predictions, get_by_indexes

rating_median = 5

users_index = {}
items_index = {}

users_list = df_users.values.tolist()
books_list = df_books.values.tolist()

for i in range(len(users_list)):
    users_index[users_list[i][0]] = i

for i in range(len(books_list)):
    items_index[books_list[i][0]] = i


ratings_list = df_ratings.values.tolist()


user_ratings = lmap(
    lambda x: [],
    range(len(df_users))
)

transformed_count = 0

for rating in ratings_list:
    user_index = users_index.get(rating[0], None)
    item_index = items_index.get(rating[1], None)
    if user_index is not None and item_index is not None:
        transformed_count +=1
        user_ratings[user_index].append([item_index, rating[2] - rating_median])

print(f"transformed {transformed_count} out of {len(ratings_list)} ratings")

user_ratings_train, user_ratings_test = split_ratings(user_ratings)

transformed 1031136 out of 1149780 ratings

For example, how ratings look now - they are stored very efficiently

In [28]:
user_ratings_train[:10]

[[],
 [[0, -5]],
 [],
 [],
 [],
 [],
 [],
 [[1, 0],
  [2, -5],
  [3, -5],
  [4, -5],
  [5, -5],
  [6, -5],
  [7, -5],
  [8, -5],
  [9, 0],
  [10, -5],
  [11, -5]],
 [[18, -5], [19, 1]],
 [[21, -5]]]

Creating model - very simple - only ratings in our special format needed

In [29]:
recommender = U2UCF(user_ratings_train)

Some presentation logic to display results

In [30]:
from IPython.display import HTML, display

def get_full_ratings(user_ratings):
       
    return lmap(
        lambda x: {
            'book_index': x[0],
            'book_name': books_list[x[0]][1],
            'book_author': books_list[x[0]][2],
            'book_year': books_list[x[0]][3],
            'book_publisher': books_list[x[0]][4],
            'book_picture': '<img src="' + books_list[x[0]][5] + '" />',
            'rating': x[1] + rating_median
        },
        user_ratings
    )
      
    
def get_full_recommendations(user_index):
    recs = recommender.recommend(user_index)
    return lmap(
        lambda x: {
            'book_index': x,
            'book_name': books_list[x][1],
            'book_author': books_list[x][2],
            'book_year': books_list[x][3],
            'book_publisher': books_list[x][4],
            'book_picture': '<img src="' + books_list[x][5] + '" />'    
        },
        recs
    )


def show_array_of_dicts(aod):
    if len(aod) == 0:
        return ""
    keys = aod[0].keys()

    header = "<tr>"
    for k in keys:
        header += "<td><b>" + str(k) + "</b></td>"
    header += "</tr>"

    body = ""

    for dct in aod:
        row = "<tr>"
        for k in keys:
           row += "<td>" + str(dct.get(k, "")) + "</td>"
        row += "</tr>"
        body += row
    
    html = "<table>" + header + body + "</table>"
    display(HTML(html))

And how recommendations look like (added train and test ratings for comparison):

In [31]:
user_idx = 16

train_ratings = get_full_ratings(user_ratings_train[user_idx])
test_ratings = get_full_ratings(user_ratings_test[user_idx])
recommendations = get_full_recommendations(user_idx)

display(HTML("<h3>Train ratings</h3><br />"))
show_array_of_dicts(train_ratings)
display(HTML("<h3>Test ratings</h3><br />"))
show_array_of_dicts(test_ratings)
display(HTML("<h3>Recommendations</h3><br />"))
show_array_of_dicts(recommendations)

Now let's get recommendations for 10000 random users and calculate predictivity metric of our algorithm:

Metric we plan to use is called $MAP@k$.

$$
MAP@k = \frac{1}{N} \sum_{u = 1}^N AP_u@k
$$
$$
AP_u@k = \frac{1}{\min(k, n_u)} \sum_{i=1}^k r_u(i) p_u@i
$$
$$p_u@k = \dfrac{1}{k}\sum_{j=1}^k r_u(j)$$


*   $N$ - Number of users.
*   $n_u$ - number of relevant items for user $u$ in test data.
*   $r_u(i)$ - binary value: 1 if item on postion $i$ belongs to relevant, otherwise 0.

In [32]:
rstate = 13

random_users, _ = train_test_split(list(range(len(df_users))), train_size=10000, random_state=rstate, shuffle=True)
test_preferences = get_preferences(get_by_indexes(user_ratings_test, random_users))

recommendations = lmap(recommender.recommend, random_users)

mapk_metric = mapk(test_preferences, recommendations)

print(f"mapk for our model: {mapk_metric}")

mapk for our model: 0.0004173214285714286

For comparison calculate the same metric for random algorithm, which just recommends random non-rated items and see ratio - predictive power of our algorithm in comparison to random one.

In [33]:
train_preferences = get_preferences(get_by_indexes(user_ratings_train, random_users))

random_predictions = get_random_predictions(train_preferences, len(df_books), 20, rstate)

random_mapk_metric = mapk(test_preferences, random_predictions)

print(f"mapk for random predictions: {random_mapk_metric}")

if random_mapk_metric != 0:
    print(f"our model/random predictions ratio: {mapk_metric/random_mapk_metric}")

mapk for random predictions: 1.125e-05
our model/random predictions ratio: 37.095238095238095